.container {
    width: 100%;
    background-color: #b31312;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    position: fixed;
    z-index: 5;
}

.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
}

@media (min-width: 768px) {
    .container {
        height: 60px;
    }

    .wrapper {
        width: 70%;
    }

    .title {
        font-size: 28px;
    }
}
