.container {
    display: relative;
}

.wrapper {
    background-color: #b31312;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 50px;
    padding: 10px 20px;
}

.nav-item {
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    color: whitesmoke;
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
}

.wrapper-inactive {
    display: none;
}

@media (min-width: 600px) {
    .wrapper {
        width: 500px;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        top: 0;
        left: initial;
        padding: 0;
    }
    .burger {
        display: none;
    }
    .wrapper-inactive {
        display: flex;
    }
}
