.interval {
  font-size: 24px;
  font-weight: 400;
}

.countdown {
  font-size: 64px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}